
.clock{
    width: 500px;
    height: 500px;
    background-image: radial-gradient(circle, #0e9c10, #0d261c);
    border: 20px solid #c0a265 ;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.clock .hour{
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    color: #c0a265;
    font-size: 1.5rem;
}

.clock .hour1 { --rotation: 30deg; }
.clock .hour2 { --rotation: 60deg; }
.clock .hour3 { --rotation: 90deg; }
.clock .hour4 { --rotation: 120deg; }
.clock .hour5 { --rotation: 150deg; }
.clock .hour6 { --rotation: 180deg; }
.clock .hour7 { --rotation: 210deg; }
.clock .hour8 { --rotation: 240deg; }
.clock .hour9 { --rotation: 270deg; }
.clock .hour10 { --rotation: 300deg; }
.clock .hour11 { --rotation: 330deg; }


.clock .hand{
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after{
    content: '';
    position: absolute;
    background-color: #c0a265;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

}

.clock .hand.second{
    width: 2.5px;
    height: 45%;
    background-color: #c0a265;
}

.clock .hand.minute{
    width: 7px;
    height: 40%;
    background-color: #c0a265;
}

.clock .hand.hour{
    width: 10px;
    height: 35%;
    background-color: #c0a265;
}




